*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 350;
    --taille-max: 100%;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height:var(--taille-max) ;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
.main-page{
    padding-top:30px ;
    text-align: center;
    margin: 0;
}


.account-info{
    margin: auto;
    width: fit-content;
    text-align: left;
    background: white;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid black;
    /* animation: slideIn 1.5s ease-in-out, opacity 2s ease-in-out; */
}
.account-info p{
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    font-size: 30px;
}

.transactions-container{
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: fit-content;
    /* animation: slideIn 1.5s ease-in-out, opacity 2s ease-in-out; */
}

.add-button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(75, 93, 93);
    color: white;
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease-out;
}
.add-button:hover{
    background-color: black;
    color: white;
    transition: background-color 0.5s ease-out;
}
.delete-all{
    margin-bottom: 10px;
    background-color: #ff365e;
    color: white;
    border: 2px solid black;
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease-out;
}
.delete-all:hover{
    background-color: darkred;
    transition: background-color 0.5s ease-out;
}
.grid-transaction{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 10px;
}
.grid-transaction .transaction-title{
    background-color: lightgray;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.75);
}

.grid-transaction div{
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    padding: 5px;
}
.grid-transaction div .transaction-element{
    display: grid;
    border-bottom: 1px solid black;
    border-top:1px solid black;
    text-align: center;
    margin: auto;
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    height: 34px;
}

.grid-transaction div .bin-element{
    color: white;
    background-color: #ff365e;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.1s;
    display: grid;
    height: 34px;
    width: fit-content;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.grid-transaction .bin-element:hover{
    transition: all 0.2s ease-in-out;
    background-color: darkred;
}

.modal-container{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.5s ;
}

.modal-container.active{
    visibility: visible;
}

.overlay{
    opacity: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    background:#333333d3; 
    transition: opacity 0.4s 0.2s ease-out;
}
.modal-container.active .overlay{
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.modal{
    opacity: 0;
    width: 95%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s ease-out;
}
.modal-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.modal-container.active .modal{
    opacity: 1;
    transition: opacity 0.4s 0.2s ease-out;
}

.close-modal{
    padding: 8px 10px;
    border: none;
    border-radius:5px ;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right:10px;
    cursor: pointer;
    background: #ff365e;
    color: #fff;
    transition: background-color 0.5s ease-out;
}
.close-modal:hover{
    background: darkred;
    transition: background-color 0.5s ease-out;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
input{
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    padding: 5px;
}
label{
    text-align: left;
}
input:focus{
    border: 1px solid #ff365e;
}
.submit-transaction{
    border: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    background: green;
    color: #fff;
    transition: background-color 0.5s ease-out;
}
.submit-transaction:hover{
    background-color: darkgreen;
    transition: background-color 0.5s ease-out;
}

/* Animations */

@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideIn1 {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes slideIn {
    from{
        transform: translateY(200%);
    }
    to{
        transform: translateY(0%);
    }
}